table{
    border: 1px solid var(--blue);
    text-align: center;
    border-collapse: collapse;
    margin-top: 50px;
}

.container{
    margin-top: 20px;
}

.add-doctor-btn{
    margin: 5px;
    background-color: var(--orange);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 10px;
    color: whitesmoke;
}

th{
    border: 1px solid var(--blue);
    padding: 20px;
}

td{
    border: 1px solid var(--blue);
    padding: 10px;
}