.btn{
    margin-right: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.btn:hover{
    cursor: pointer;
}

.red-btn{
    color: rgb(228, 28, 28);
}

.blue-btn{
    color: rgb(35, 35, 212);
}